.cart-summary {
  --value-min-width: 120px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 0;
  border-top: 1px solid var(--color-gray-lighten-70);
  border-bottom: 1px solid var(--color-gray-lighten-70);
  border-style: dashed;
  background-color: var(--color-gray-lighten-95);
  margin-top: 1rem;
  padding: 1.5rem;
}

.cart-summary__discount {
  color: var(--color-red-base);
}

.cart-summary__value {
  display: inline-block;
  text-align: end;
  min-width: var(--value-min-width);
}
