.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.conainer--row {
  flex-direction: row;
}

.container--column {
  flex-direction: column;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}
