.typography--h1 {
  font-size: 3rem;
  font-weight: 600;
}

.typography--h2 {
  font-size: 2rem;
  font-weight: 600;
}

.typography--h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

.typography--h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.typography--h5 {
  font-size: 1.125rem;
  font-weight: 600;
}

.typography--subheading1 {
  font-size: 1rem;
  font-weight: 700;
}

.typography--subheading2 {
  font-size: 0.875rem;
  font-weight: 700;
}

.typography--body1 {
  font-size: 1rem;
}

.typography--body2 {
  font-size: 0.875rem;
}

.typography--caption {
  font-size: 0.75rem;
}
