.modal {
  --close-interval: 0.3s;
  --color-background-opened: rgba(0, 0, 0, 0.3);
  --color-background-closed: rgba(0, 0, 0, 0);

  position: fixed;
  overflow-y: auto;
  text-align: center;
  inset: 0;
  background-color: var(--color-background-closed);
  z-index: 1500;
}

.modal:before {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

@keyframes open-modal {
  0% {
    background-color: var(--color-background-closed);
  }
  100% {
    background-color: var(--color-background-opened);
  }
}

@keyframes close-modal {
  0% {
    background-color: var(--color-background-opened);
  }
  100% {
    background-color: var(--color-background-closed);
  }
}

.modal--open {
  animation-name: open-modal;
  animation-duration: var(--close-interval);
  background-color: var(--color-background-opened);
}

.modal--close {
  animation-name: close-modal;
  animation-duration: var(--close-interval);
}

.modal__content-container {
  margin: 2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.modal__content {
  background-color: var(--color-gray-lighten-100);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px -5px,
    rgba(0, 0, 0, 0.15) 0px 24px 38px 3px, rgba(0, 0, 0, 0.15) 0px 9px 46px 8px;
  border-radius: 0.25rem;
  opacity: 0;
}

@keyframes open-content {
  0% {
    opacity: 0;
    margin-top: -150vh;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes close-content {
  0% {
    opacity: 1;
    margin-bottom: 0;
  }
  100% {
    opacity: 0;
    margin-top: -150vh;
  }
}

.modal__content--open {
  animation-name: open-content;
  animation-duration: var(--close-interval);
  visibility: visible;
  opacity: 1;
}

.modal__content--close {
  animation-name: close-content;
  animation-duration: var(--close-interval);
}
