.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1500;
}

.modalContent {
  background-color: var(--color-gray-lighten-100);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px -5px,
    rgba(0, 0, 0, 0.15) 0px 24px 38px 3px, rgba(0, 0, 0, 0.15) 0px 9px 46px 8px;
  border-radius: 0.25rem;
  position: relative;
  width: 100%;
}

.modalHeader {
  color: red;
}

.modalBody {
  color: green;
}

.modalFooter {
  color: orange;
}
