.product-variant {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.product-variant__color-indicator {
  border: 1px solid var(--color-gray-base);
  width: 1.25rem;
  height: 1.25rem;
}

.product-variant__label {
  margin-left: 0.5rem;
  text-transform: capitalize;
}
