.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 0;
  font-size: 0.875rem;
}

.table > tbody > tr {
  border: 0;
  border-top: 1px solid var(--color-gray-lighten-70);
}

.table__th-cell {
  white-space: nowrap;
  padding: 0.25rem 0;
  text-align: left;
  text-transform: capitalize;
  font-weight: 600;
}

.table__th-cell--align-left,
.table__cell--align-left {
  text-align: left;
}

.table__th-cell--align-center,
.table__cell--align-center {
  text-align: center;
}

.table__th-cell--align-right,
.table__cell--align-right {
  text-align: right;
}

.table__cell {
  font-weight: 500;
  padding: 0.5rem 1rem;
}
