.discount-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--color-orange-lighten-90);
}

.discount-display__first-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.discount-display__first-row-content {
  color: var(--color-orange-base);
}
